
.gallery {
  width: 100vw;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.img-container {
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    overflow: hidden;
}

.img-container:hover {
    transform: scale(1.05);
  }

img {
  width: 80%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.05);
  }
