html,
body {
	cursor: url(assets/cursor.png), auto !important;
}

* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
	font-family: 'Poppins';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}


/*--------------- hero section --------------- */
/*
.hero {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: url(assets/galleri/galleri_assets/JustAnna500px@2x.png) center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.hero::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.4;
}

.hero-art {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 70%;
	left: 80%;
	background: url(assets/hero-art.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}
*/



.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header h1 {
	color: #000;
	font-weight: 300;
	font-size: 23px;
}


/*--------------- section starts  --------------- */

.content {
	position: absolute;
	width: 100vw;
	margin-top: 100vh;
}



/*--------------- galleri section starts  --------------- */

.galleri{
	width: 100vw;
	max-width: 500px;
	margin: 0 auto;
}

.galleri h3{
	font-size: 16px;
	font-weight: 300;
}

.galleri__section{
	position: relative;
	height: 100vh;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.galleri__title{
	padding: 20px;
	text-align: right;
}

.galleri__section img {
	width: 90%;
	box-shadow: 10px 10px 10px grey;
}


.btn {
  text-decoration: none;
  padding: 10px 25px;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  font-size: 18px;
  font-weight: 200;
  color: #222831;
  text-transform: uppercase;
  z-index: 2;
}

.btn::after {
  content: '';
  right: 30px;
  top: -10px;
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #222831;
  opacity: 0.1;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  transform: rotate(45deg);
}




/*--------------- about section starts  --------------- */



.about__section__text{
	padding: 20px 30px;
}

.about__section__text p{
	font-size: 16px;
	font-weight: 300;
}

.about__section__text h2{
	font-size: 20px;
	font-weight: 300;
}

/*--------------- newsletter section starts  --------------- */




/*--------------- contact section starts here --------------- */



/*--------------- footer section starts here --------------- */

.footer {
	background: #161616;
}

#media,
#address,
#mail {
	text-align: center;
}

.footer .container {
	padding: 160px 0;
}

.footer li,
p,
h4 {
	font-size: 24px;
}

.footer h4 {
	font-weight: lighter;
	color: #fff;
}

.footer p {
	color: grey;
	font-weight: lighter;
}

.footer li {
	font-weight: lighter;
	color: #fff;
	padding-left: 20px;
	font-size: 18px !important;
}

#media ul {
	list-style: none;
}

#media ul li {
	display: inline-block;
}

@media (max-width: 900px) {
	.footer .container {
		width: 92% !important;
	}
}

.miron {
	display: flex;
	justify-content: center;
	align-items: center;
}

.miron p a {
	text-decoration: none;
}